.hero-section {
  width: 100vw;
  height: 42.3vw; /* Converted height from 609px */
  margin-top: rem; /* Adjust if needed */
  position: relative;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.inner-layer {
  position: relative; /* Ensure inner layer is positioned for absolute children */
  width: 100vw;
  height: 100%;
}

/* Adjusting for responsive design based on viewport width */
@media (max-width: 1030px) {
  .hero-section {
    height: 42.3vw; /* Ensure consistency with the converted height */
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 42.3vw; /* Ensure consistency with the converted height */
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 42.3vw; /* Ensure consistency with the converted height */
  }
}
