* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

body {
  background: linear-gradient(45deg, #ea4f4c 0%, #6d0019 100%);
}

.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.hidden {
  overflow: hidden;
}

/* APPLYING MARGIN ON NAVBAR LINKS */

.margin-x {
  margin-left: 18px;
  margin-right: 18px;
}

.margin-top {
  margin-top: 48px;
}

/* NAVBAR-MENU-ICON (HAMBURGER) */

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 6px;
}

.navbar {
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.nav-links {
  transition: 0.3s ease-in-out;
}

.nav-links:hover {
  color: #ea4f4c;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 15;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 48px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    min-height: 100vh;
    text-align: center;
    transition: 0.6s ease-in-out;
    z-index: 10;
  }
  .active {
    right: 0% !important;
  }
  ul li a {
    font-size: 24px;
  }
}

.owner {
  margin-top: 48px;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
}

.about {
  margin-top: 48px;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  text-decoration: underline;
}
